body {
 background-image:url("/storage/image/5159178_m.jpg");
}

.blogtitle{
    text-align: center
}

.loved i {
  color: red
}

.paginate{
   justify-content: center;
}

.card-img-overlay{
    z-index: 1;
}
.card-header{
     z-index: 10;
}

.card-body{
    z-index: 10;
}
